@inherits LayoutComponentBase
<div>
    <HeaderBar />
    <div class="section columns">
        <NavMenu />
        <RadzenDialog/>
        <RadzenNotification/>
         <RadzenContextMenu/>
         <RadzenTooltip/>
        <main class="column">
            @Body
        </main>
    </div>
</div>